/* General */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}


/* common */

.text-white-75 {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
  }

.btn-primary {
    color: #fff;
    background-color: #f4623a;
    border-color: #f4623a;
    border-radius: 50px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #f24516;
    border-color: #ee3e0d;
}

.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    margin: 1rem;
}

hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #f4623a;
}

hr.light {
    border-color: #fff;
}

.img-thumb, table, .contbox {
    background-color: rgba(51,51,51,0.8);
    border: 1.5px solid rgba(204,204,204,0.8);
}

.page-section {
    padding: 8rem 0;
}

.bg-primary {
    background-color: #f4623a !important;
}

.form-control {
    display: inline-block;
    width: auto;
}


/* Navbar */

#mainNav {
    background-color: transparent;
}


/* Landing page */

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.7) 0%, rgba(92, 77, 66, 0.7) 100%), url("../img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}


/* Films Page */

#films {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(187, 158, 137, 0.35) 0%, rgba(187, 158, 137, 0.2) 100%), url("../img/sauron.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
}

.filmResultClass {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(187, 158, 137, 0.35) 0%, rgba(187, 158, 137, 0.2) 100%), url("../img/balrog5.jpg");
    background-position: 42%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    /* height: 100vh; */
}


/* Characters Page */

#characters {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0) 0%, rgba(92, 77, 66, 0.7) 100%), url("../img/char-shadow.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
}

.charResultClass {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(187, 158, 137, 0.35) 0%, rgba(187, 158, 137, 0.2) 100%), url("../img/char-shadow2a.png");
    background-position: 95%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    /* height: 100vh; */
}


/* Books Page */

#books {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(187, 158, 137, 0.2) 0%, rgba(187, 158, 137, 0.2) 100%), url("../img/hero-frame.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
}

.bookResultClass {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(187, 158, 137, 0.35) 0%, rgba(187, 158, 137, 0.2) 100%), url("../img/smaug2.jpg");
    background-position: 11% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    /* height: 100vh; */
}

#book-loader {
    color: #9ba1a8;
}


@media screen and (max-width: 992px) {
    #mainNav {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: #403d34;
        transition: background-color 0.2s ease;
    }
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-bottom: 0;
    }
}
